<p class="cities-added-text">You recently searched for</p>
<div class="compdiv">
  <div class="compdivmobdiv">
    <div class="comptext1">Udupi, Karnataka</div>
    <div class="compdivin">
      <img
        src="../assets/images/icon_favourite.png"
        alt="comp_icon"
        class="comp_icon"
      />
      <p class="comptext2">32 <span class="degree-text">°c</span></p>
      <p class="comptext3">Mostly Sunny</p>
    </div>
  </div>
  <img
    src="../assets/images/icon_favourite_Active.png"
    alt="favourite"
    class="fav_icon"
  />
  <!-- {false ? (
      <img
        src="../assets/images/favourite_icon_copy.png"
        alt="favourite"
        class="fav_icon"
      />
    ) : (
      <img
        src="../assets/images/icon_favourite_Active.png"
        alt="favourite"
        class="fav_icon"
      />
    )} -->
</div>
